.menu {
    grid-area: menu;
    background-image: linear-gradient(to bottom, #061A40, #003559);
    min-height: 100%;
}

menu {
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.5rem 2rem;
    background-image: radial-gradient(rgba(161, 178, 255,0.3) 10%,rgba(161, 178, 255,0) 60%);
}

a::after {
    /*TODO Сделать разделительную линию между пунктами меню*/
    content: '';
    height: 1px;
    width: 90%;
    color: #a1b2ff;
}

.item a {
    color: #a1b2ff;
}

.item a.active {
    color: #E6C229;
}