* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  /*FIXME Цветовая палитра*/
  --oxford-blue: #061a40ff;
  --usafa-blue: #0353a4ff;
  --prussian-blue: #003559ff;
  --jonquil: #e6c229ff;
  --maximum-blue-purple: #a1b2ffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
