.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
    min-height: 100%;
    color: #061A40;
}

.dialogsItems {
    border-right: #003559 solid 2px;
    text-align: center;
    padding-inline-end: 2rem;
}

.dialog{
    padding-block: 1rem;
    font-weight: 600;
}

.dialog:visited{
    color: #061A40;
}

.dialog.active {
    background-color: rgba(0, 53, 89, 0.15);
}

.messages{
    padding-left: 5rem;
    display: grid;
    align-content: end;
}

.message{
    padding-block: 1rem;
}

.newMessageArea {
    display: flex;
}

.newMessageText {
    resize: none;
    width: 90%;
    border-radius: 1.5rem;
    font-size: 1.2em;
    padding: 0.5rem;
    outline-color: #003559;
}

.sentMessageButton {
    width: 10%;
    padding: 1rem;
    border-radius: 1.5rem;
    outline-color: #003559;
    border: none;
    background-color: #fff;
    font-size: 3em;
}